@model List<Movie>

<h1>Movie List</h1>
<div id="movies">

    @foreach (var movie in Model)
    {
        <div class="movie">
            <img src="/img/@movie.ImageUrl" alt="@movie.Title" />
            <p>@movie.Title</p>
            <p>@movie.Description</p>
            <p>@movie.Director</p>
            <p>
                <ul>
                    @foreach (var actor in movie.Actors)
                    {
                        <li>@actor</li>
                    }
                </ul>
            </p>
        </div>
    }
</div>